
home=https://www.npmmirror.com/
registry=https://registry.npmmirror.com/
# home=http://10.18.104.127:5001/repository/npm-public
# registry=http://10.18.104.127:5001/repository/npm-public/
engine-strict =true
auto-install-peers = true
shamefully-hoist=true
strict-peer-dependencies=false